*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
  font-family: var(--font-family, sans-serif);
  font-size: 1.125rem;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}

:root {
  --font-family: system-ui;
  --primary-color: #f9dc5c;
  --is-read-green: #06aa6d;
}

#actionBar {
  min-height: 50px;
  padding: 10px;
  background-color: black;

  display: flex;
  justify-content: right;
  align-items: center;
}

#newBookBtn {
  height: 30px;
  padding: 0 0.5rem;
  border: none;
  outline: var(--primary-color);
  outline-style: inset;
  outline-width: 2px;
  background-color: var(--primary-color);
}

#library {
  padding: 1rem;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.book {
  min-height: 150px;
  outline-color: black;
  outline-style: ridge;
  outline-width: 4px;

  display: flex;
  flex-direction: column;
}

.book-actions {
  background-color: var(--primary-color);
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-read-btn {
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-read-btn.not-read {
  transition-duration: 0.5s;
}

.toggle-read-btn.read {
  transition-duration: 0.5s;
}

.remove-book-btn {
  background-color: transparent;
  border: none;
}

.read-icon,
.not-read-icon,
.delete-icon {
  height: 2rem;
}

.book-info {
  margin-left: 0.5rem;
}

.book-info .title {
  min-width: 100%;
  font-size: 22px;
  font-weight: 900;
}

.book-info .author {
  font-style: oblique;
  font-weight: 500;
}

.book-info .pages {
  font-size: 14px;
  font-weight: 200;
}

/* New Book Dialog Box */
#newBookDialog {
  display: none; /* Hide by default */
  position: fixed;
  z-index: 1; /* Upper layer */
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* New Book Form */
#newBookForm {
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

#newBookForm h2 {
  margin: 0.5rem;
  font-size: 28px;
  font-weight: 900;
}

#newBookForm .form-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: 1fr 3fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

#newBookForm .form-label {
  font-size: 18px;
  text-align: right;
}

#newBookForm .form-input {
  width: 90%;
  padding: 0 0.5rem;
  border: none;
}

#newBookForm .missing-input {
  outline: 1px solid red;
}

#newBookForm .number-input {
  width: 20%;
}

#newBookForm .checkbox-input {
  max-width: fit-content;
}

/* The Close Button */
#closeBtn {
  background: transparent;
  border: none;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeBtn:hover,
#closeBtn:focus {
  background: transparent;
  border: none;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#newBookForm .submit-btn {
  margin: 2rem 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--primary-color);
  border: none;
  outline: 1px solid black;
}
